<div class="container">
  <h2>Create a bookmark</h2>
  <%= simple_form_for [@list, @bookmark] do |f|%>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.button :submit%>
  <% end %>
</div>
